html {
    background-color: white;
    color: black;
}

html.dark-mode {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

a.dark-mode {
    color: white;
}

/* View Transition API */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark-mode::view-transition-old(root) {
  z-index: 9999;
}
.dark-mode::view-transition-new(root) {
  z-index: 1;
}